@charset "UTF-8";

.conteiner {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.cx1 {
    grid-column: 1 / 5;
    background-color: blue;
    }


.cx2 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: red;
}

.cx3 {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    background-color: dodgerblue;
}