@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}


* {
    margin: 0px;
    padding: 0px;
}

html, css {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 35px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 35px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a, footer a:hover {
    text-decoration: underline;
    color:darkgrey
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}


section.imagem > p {
    background-color: rgba(0, 0, 0, 0.158);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

section.normal {
    background-color: white;
    color: rgba(0, 0, 0, 0.685);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}