@charset "UTF-8";

@media screen and (min-widht: 768px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}